__pycache__/
.DS_Store
.ipynb_checkpoints/
.mypy_cache/
.virtual_documents/
/.coverage
/.coverage.*
/.hypothesis/
/.nox/
/.python-version
/.pytype/
/.vscode/
/dist/
/docs/_build/
/htmlcov
/src/*.egg-info/
scratch.*
